{{/* ABOUTME: Site header with Sortition Foundation branding and navigation */}}
{{/* ABOUTME: Matches the GOV.UK header pattern used in the backend application */}}
<header class="govuk-header" role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <a href="{{ "/" | relURL }}" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <span class="govuk-header__logotype-text">OpenDLP Docs</span>
        </span>
      </a>
    </div>
    <div class="govuk-header__content">
      <a href="#navigation"
         class="govuk-header__menu-button govuk-js-header-toggle"
         aria-controls="navigation"
         aria-label="Show or hide navigation menu">Menu</a>
      <nav class="govuk-header__navigation" id="navigation" aria-label="Menu">
        <button type="button"
                class="govuk-header__navigation-close govuk-js-header-toggle"
                aria-controls="navigation"
                aria-label="Close navigation menu">
          <span class="govuk-visually-hidden">Close menu</span>
        </button>
        <ul class="govuk-header__navigation-list">
          {{ range .Site.Menus.main }}
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="{{ .URL | relURL }}">{{ .Name }}</a>
          </li>
          {{ end }}
        </ul>
      </nav>
    </div>
  </div>
</header>
