{{/* ABOUTME: Site header with Sortition Foundation branding */}}
{{/* ABOUTME: White header with logo, orange accent bar below */}}
<header class="govuk-header" role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <a href="{{ "/" | relURL }}" class="header-logo-link">
        <img src="{{ "img/logosortition.svg" | relURL }}"
             alt="Sortition Foundation"
             class="header-logo" />
      </a>
    </div>
  </div>
</header>
<div class="header-accent-bar">
  <div class="govuk-width-container">
    <hr class="header-accent-bar__line" />
  </div>
</div>
