<nav class="side-navigation">
  <ul class="govuk-list">
    {{- $currentPage := . -}}
    {{- range .Site.Sections.ByWeight -}}
      {{ template "menu-node" (dict "node" . "currentPage" $currentPage) }}
    {{- end -}}
    {{- range (where .Site.RegularPages "Section" "") -}}
      <li class="side-nav-item">
        <a class="govuk-link {{ if eq . $currentPage }}side-nav-item--active{{ end }}" href="{{ .RelPermalink }}">{{ .Title }}</a>
      </li>
    {{- end -}}
  </ul>
</nav>

{{- define "menu-node" -}}
  {{- $node := .node -}}
  {{- $currentPage := .currentPage -}}
  {{- $isActive := $currentPage.IsDescendant $node -}}
  {{- if eq $currentPage $node }}{{ $isActive = true }}{{ end -}}
  
  <li class="side-nav-item">
    {{- if or $node.Sections $node.Pages -}}
      <details class="govuk-details side-nav-details" data-module="govuk-details" {{ if $isActive }}open{{ end }}>
        <summary class="govuk-details__summary side-nav-summary">
          <span class="govuk-details__summary-text">
            <a class="govuk-link {{ if eq $node $currentPage }}side-nav-item--active{{ end }}" href="{{ $node.RelPermalink }}">{{ $node.Title }}</a>
          </span>
        </summary>
        <div class="govuk-details__text side-nav-content">
          <ul class="govuk-list">
            {{- range $node.Sections.ByWeight -}}
              {{ template "menu-node" (dict "node" . "currentPage" $currentPage) }}
            {{- end -}}
            {{- range $node.RegularPages.ByWeight -}}
              <li class="side-nav-item">
                <a class="govuk-link {{ if eq . $currentPage }}side-nav-item--active{{ end }}" href="{{ .RelPermalink }}">{{ .Title }}</a>
              </li>
            {{- end -}}
          </ul>
        </div>
      </details>
    {{- else -}}
      <a class="govuk-link {{ if eq $node $currentPage }}side-nav-item--active{{ end }}" href="{{ $node.RelPermalink }}">{{ $node.Title }}</a>
    {{- end -}}
  </li>
{{- end -}}
